* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  background-color: #bfcad8;
  font-family: "Outfit", sans-serif;
}
.hero {
  background-color: white;
  margin: 2rem 0;
  border-radius: 1rem;
}
.main {
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.image {
  width: 90%;
  margin: 1rem 0 1.5rem 0;
  border-radius: 1rem;
}
.head {
  font-size: 1.4rem;
  margin: 0 0.03rem 1rem 0.03rem;
}
.para {
  color: #a4aab5;
  font-size: 0.9rem;
  width: 15rem;
  margin: 0 0rem 2rem 0rem;
}
@media (min-width: 750px) {
  .hero {
    margin: 8rem 0;
  }
}
